.site-footer {
  background: #000;
  padding: 80px 0;
  border-top: 1px solid rgba(255,255,255,0.05);
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

/* LEFT COLUMN */
.footer-left h3 {
  font-family: Oswald, sans-serif;
  font-size: 42px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.footer-text {
  font-size: 15px;
  margin: 6px 0;
  color: #C7C7C7;
;
}

.footer-text a {
  color: #FFFFFF;
  border-bottom: 1px solid var(--accent);
}

.footer-icons {
  display: flex;
  gap: 22px;
  margin: 20px 0;
}

.footer-icons a {
  font-size: 28px;
  color: var(--accent);
  display: inline-flex;
}

.copyright-bottom {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;
  margin-top: 220px;
  color: #C7C7C7;
  height: 26px;

  opacity: 1;
}

/* RIGHT COLUMN (FORM) */
.footer-form {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-form label {
  font-size: 14px;
  color: #bbb;
}

.footer-form input,
.footer-form textarea {
  background: #111;
  border: 1px solid rgba(255,255,255,0.08);
  padding: 14px;
  border-radius: 6px;
  color: white;
  font-size: 15px;
}

.footer-form textarea {
  height: 140px;
  resize: none;
}

.btn.submit {
  margin-top: 10px;
  width: 150px;
  background: var(--accent);
  color: #000;
  font-weight: 700;
  border-radius: 999px;
}


.error {
  color: #ff6b6b;
  font-size: 13px;
  margin-top: -6px;
  margin-bottom: 10px;
}

.success {
  color: #d7ff66;
  font-size: 14px;
  margin-top: 10px;
}
.footer-bottom {
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  color: var(--muted);
  opacity: 0.8;
}
 
/* MOBILE */
@media (max-width: 900px) {
  .footer-inner {
    flex-direction: column;
    gap: 40px;
  }

  .footer-form {
    width: 100%;
  }

  .footer-left h3 {
    font-size: 34px;
  }
}
